nav {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between; 
  margin-top: 10px;
  
  padding-right: 1.5em;
  padding-left: 1.5em ;
}

nav span {
  font-family: 'Bungee', cursive;
  line-height: 3.30;
  font-size: 45px;
  
}

#arrow {
  color: red
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 45px;
  margin-bottom: 5px;
}
